* { box-sizing: border-box; }

#wrapper {width: 980px;}

header {
    width: 980px;
    height: 200px;
    background: #ffffff url("poeheader.jpg") no-repeat left top;
    position: absolute;
    top: 0px;
    left: 0px;
    }
h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size:50px;
    text-align: center;
    padding-top: 60px;
    line-height: 0.3;
    font-weight: 500;
    }
h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size:20px;
    font-weight: 100;
    text-align: center;
    line-height: 0.3;
    }
nav {
    position: relative;
    top: 215px;
    left: 140px;
    }
nav li {
        display: inline;
    width: 500px;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;
    }

li a {
    font-family: poppins;
    font-weight: 400;
    color: darkslateblue;
    text-decoration: none;
    }
li  {
    background-color: aliceblue;
    border: 3px white solid;
    list-style-type:none;
}

main {
    position: relative;
    top: 250px;
    left: 200px;
    width: 760px;
    }
p {font-family: poppins;
font-weight: 100}
h3 {font-family: poppins;
font-weight: 300;}

#menu {
    display:block;
    position: relative;
    left: 0px;
    width: 200px;
    padding: 0px;
    }
#menu>ul {
    margin-left: 0;
    padding-left: 0;
}
